.social-media {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 5px 2px;
    color: #ffffff;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
    position: static;
    flex-direction: row;
    gap: 5px;
    margin: 0;
}

.footer a.footer-link {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a.footer-link:hover {
    color: #60a5fa;
}

.github-link, .linkedin-link {
    transition: 0.4s;
    font-size: 1.8rem;
    color: var(--neutral-500);
}.github-link:hover, .linkedin-link:hover {
    color: var(--primary-color);
}